<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="20220413"
    android:versionName="REL" >

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:noHistory="false">
        <activity
            android:name=".SongbookViewerActivity"
            android:screenOrientation="sensor"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SongbookManageActivity"
            android:excludeFromRecents="true"
            android:label="@string/managesb_title"
            android:noHistory="false"
            android:theme="@android:style/Theme.Dialog"
            android:exported="false">
            <intent-filter>
                <action android:name="songbook.viewer.intent.action.MANAGE_SONGBOOK" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SongbookAddActivity"
            android:excludeFromRecents="true"
            android:label="Import Songbook"
            android:noHistory="false"
            android:theme="@android:style/Theme.Dialog"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="content" />
                <data android:mimeType="*/*" />
                <data android:host="*"/>
            </intent-filter>
        </activity>

        <service
            android:name=".services.SongbookService"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name=".services.SongbookService" />
            </intent-filter>
        </service>

    </application>

</manifest>